.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  background-image: url("./img/back.png");
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

nav {
  width: 100%;
  margin: 20px;
  background-color: rgb(63, 63, 63);
  color: white;
  margin: 0;
  padding: 20px 0px 20px 0px;
}

nav p {
  font-size: 20px;
  margin: 0;
  margin-left: 30px;
}

.journal {
  width: 50%;
  margin: auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.item {
  width: 25%;
  margin: 5px;
  border: 2px solid;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.item:hover {
  transition-duration: 0.3s;
  background-color: rgba(255, 255, 255, 0.349);
  box-shadow: rgba(0, 0, 0, 0.61) 0px 5px 15px;
}

.evidencia {
  width: 45%;
  height: 30px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bolder;
}

#background-descricao {
  display: none;
  background-color: rgba(85, 85, 85, 0.45);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 100vw;
  right: -6000px;
  top: 0;
  transition-duration: 0.5s;
}

.sidebar-info {
  width: 50%;
  height: fit-content;
  margin: auto;
  background-image: url("./img/papel_amassado.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.61) 0px 5px 15px;
}

.sidebar-info h1 {
  font-size: 50px;
  margin: 0;
  border-bottom: 1px solid;
}

#fechar-btn {
  width: 50%;
  margin: auto;
  border: 2px solid;
  cursor: pointer;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  * {
    font-size: 25px;
    -webkit-tap-highlight-color: transparent;
  }

  .journal {
    width: 80%;
    margin: auto;
  }

  .evidencia {
    width: 100%;
  }

  .item {
    width: 100%;
  }

  .sidebar-info {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
  }

  .inside-bar {
    padding: 30px;
    overflow: auto;
  }

  .sidebar-info p {
    font-size: 25px;
  }

  #fechar-btn {
    position: absolute;
    width: 100%;
    padding: 0;
    bottom: 0;
  }
}

@media only screen and (min-width: 700px) {
  * {
    font-size: 25px;
    -webkit-tap-highlight-color: transparent;
  }

  .journal {
    width: 70%;
    margin: auto;
  }

  .evidencia {
    width: 80%;
  }

  .item {
    width: 45%;
  }

  .sidebar-info {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
  }

  .inside-bar {
    padding: 30px;
    overflow: auto;
  }

  .sidebar-info p {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  * {
    font-size: 20px;
    -webkit-tap-highlight-color: transparent;
  }

  .journal {
    width: 50%;
    margin: auto;
  }
  .evidencia {
    width: 45%;
  }

  .sidebar-info {
    width: 60%;
    height: 85vh;
    margin: 2% auto;
  }

  .sidebar-info p {
    font-size: 20px;
  }

  .item {
    width: 30%;
  }
}
